html {
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: 'Ranchers', cursive;
    letter-spacing: .5em;
    text-align: center;
    font-size: 50px;
}

.gameContainer {
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameScreen {
    background: #ffdbac;
    border: 5px solid #ff5e49;
    border-radius: 20px;
}

.instructionsContainer {
    margin-top: 20px;
    position: absolute;
    width: 500px;
    height: 300px;
    background: #ffb29f;
    border: 5px solid #ff8b7b;
    border-radius: 20px;
    font-family: "Gloria Hallelujah";
    color: white;


}

.instructions {
    opacity: 1;
}

.start {
    font-family: "Gloria Hallelujah";
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #ff8b7b;
    border: 2px dotted #ff8b7b;
    border-radius: 10px;
}

footer p, footer small {
    margin: 0;
    font-family: 'Baloo Bhaijaan', cursive;
}

footer {
    background-color: #EDC7CF;
    color: #85043a;
    padding: 10px;
    margin: 0;
    width: 100%;
    text-align: center;
}