* {
    margin: 0;
}


body {
    margin-top: 30px;
    display: flex;
    min-height: 96vh;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

h1 {
    font-family: 'Ranchers', cursive;
    letter-spacing: .5em;
    text-align: center;
    font-size: 50px;
}

.gameContainer {
    text-align: center;
    margin: 40px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instructionsContainer {
    margin-top: 20px;
    padding: 10px;
    position: absolute;
    width: 550px;
    height: 300px;
    background: #ffb29f;
    border: 5px solid #ff8b7b;
    border-radius: 20px;
    font-family: "Gloria Hallelujah";
    color: white;
    z-index: 1;
}

.start {
    font-family: "Gloria Hallelujah";
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #ff8b7b;
    border: 2px dotted #ff8b7b;
    border-radius: 10px;
    margin-top: 80px;
}

.gameScreen {
    width: 700px;
    height: 450px;
    background: #ffdbac;
    border: 5px solid #ff5e49;
    border-radius: 20px;
    position: relative;
    z-index: 0;
    font-family: "Gloria Hallelujah";
    font-size: 25px;
    color: white;
    cursor: url("./../images/fingers-apart-small.png") 64 17, pointer;
}

.gameScreen:active {
    cursor: url("./../images/fingers-together-small.png") 64 17, pointer;
}

.scoreboard {
    background-color: rgb(255, 124, 110);
    border-radius: 15px 15px 0 0;
    position: absolute;
    width: 700px;
    height: 50px;
}

.score h3 {
    display: inline;
}

.points-earned {
    position: absolute;
    right: 20px;
    top: 40px;
}

.timer {
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.stopwatch {
    position: absolute;
    width: 27px;
    height: 30px;
    top: 10px;
    left: 10px;
}

.countdown {
    position: absolute;
    top: 5px;
    left: 50px;
    line-height: 35px;
}

.score {
    position: absolute;
    top: 5px;
    right: 30px;
    line-height: 35px;
}

footer p, footer small {
    font-family: 'Baloo Bhaijaan', cursive;
}

footer {
    background-color: #EDC7CF;
    color: #85043a;
    padding: 10px;
    width: 100%;
    text-align: center;
}