html {
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: 'Ranchers', cursive;
    letter-spacing: .5em;
    text-align: center;
    font-size: 50px;
}

.gameContainer {
    text-align: center;
    margin: 0 auto;
    position: relative;
}

#gameScreen {
    background: #ffdbac;
    border: 5px solid #ff5e49;
    border-radius: 20px;
    z-index: 1;
}

.instructionsContainer {
    position: absolute;
    top: 00;
    right: 2;
    z-index: 2;
}

#instructions {
    background: #ff9378;
    opacity: 50%;
    border: 5px solid #ff5e49;
    border-radius: 20px;
}

p, small {
    margin: 0;
    font-family: 'Baloo Bhaijaan', cursive;
}

footer {
    background-color: #EDC7CF;
    color: #85043a;
    padding: 10px;
    margin: 0;
    width: 100%;
    text-align: center;
}